h1 {
	color: blue;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div{
	text-align:center;
	vertical-align: middle;
	color: white;
}

ul{
	text-align: center;
	color: white;
}

p{
	text-align: center;
	color: white;
}

body{
	background-color: #53868B;
}

.side_bar{
	background-color: gray;
	float: left;
	width: 20%;
	display: inline-block;
	height: 400px;

}

.main{
	background-color: #B0C4DE;
	width: 78%;
	float: right;
	display: inline;
	position: absolute;
	right: 0;

}

.footer{
	position: absolute;
	bottom: -400px;
	background-color: #B0C4DE;
	width: 100%;
	display: inline;
}

.number{
	font-size: 12px;
}

.name{
	font-size: 24px;
}

.menubar{
	background-color: black;
	height: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
