body {
    background: linear-gradient(135deg, #3023AE, #C86DD7);
    background-attachment: fixed;
    /* text font */
    /*font-size: 15px;*/
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 20px;
}

.menubar{
	background-color: black;
	height: 50px;
}

.inputs {
	padding: 2px;
  max-width: 300px;
  text-align: left;
}

.panel {
	margin: 120px auto 60px;
    text-align: center;
    background-color: white;
    width: 500px;
    border-radius: 10px;  
    padding: 1px;
    transition: box-shadow .30s;
}
.panel:hover{
    box-shadow: #fff 5px 5px 25px;
}
