.blue {
  background-color: lightblue;
  max-width: 300px;
  margin: auto;
}

.label {
  font-size: 20px;
}

.formSection {
  padding: 2px;
  max-width: 300px;
  text-align: center;
}

.textBox {
  float: right;
}

.menubar{
	background-color: black;
	height: 50px;
}
