<style>
  <%- include ../../css/menubar.css %>
  .b {

  }
</style>

<div>
  <ul>
    <li><a href="/" style="float: left; padding-top: 10px; padding-left: 10px">
      <img src="/media/home.png" alt="home" style="width: 30px; height: 30px;">
    </a></li>
    <li><a href="../Website/about_us.html" class="rButtons" style="float: left; padding-left: 20px;"><p>About</p></a></li>
    <li><a href="/user/login" class="rButtons" style="float: right; padding-right: 20px;"><p>Login</p></a></li>
    <li><a href="/user/newuser" class="rButtons" style="float: right; padding-right: 20px;"><p>Sign Up</p></a></li>
  </ul>
</div>
<br>
