<style>
  <%- include ../../css/menubar.css %>
</style>

<div>
  <ul>
    <li><a href="/" style="float: left; padding-top: 10px; padding-left: 10px">
      <img src="/media/home.png" alt="home" style="width: 30px; height: 30px;">
    </a></li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">About <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          <a href="/about">Our Clnic</a>
          <a href="/docinfo">Dr. Doctor</a>
        </div>
      </div>
    </li>
    <li><a href="/user/logout" class="rButtons" style="float: right; padding-right: 20px;"><p>Log Out</p></a></li>
    <li><a href="/cal/new" class="rButtons" style="float: right; padding-right: 20px;"><p>New Event</p></a></li>
    <li><a href="/cal/appointments" class="rButtons" style="float: right; padding-right: 20px;"><p>My Appointments</p></a></li>
  </ul>
</div>
<br>
