<html>
<head>
  <title>404 Error</title>
</head>
<body>
  <br><br><br><br>
  <div>
    <div style="max-width: 800px; margin: 0 auto">
      <img src="/media/confusedboy.png" width="562px" height="800px" style="display: block; margin: 0 auto" alt="A Confused Boy" />
      <div>
        <div>
          <h3>Looks like you made a wrong turn somwhere.  This page doesn't exist.  Here are some helpful links to get you back on track:</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cal/appointments">My Appointments</a></li>
            <li><a href="/cal/new">New Appointment</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
