<html>
	<head>
	<link href="/css/about.css" type="text/css" rel="stylesheet"/>
		<title>About Us</title>
	</head>

	<body>
	<div class="menubar">
  	<%- include layouts/menubar_login.ejs %>
	</div>

	<div>
	<h1>About Us </h1>
		<img style="float:left"src="/media/office_pic.jpg" id="officePicture" width="200px" height="169">
		<img style="float:right"src="/media/Family.jpg" id="officePicture" width="200px" height="169">
		<p> Welcome to Dr. Doctor's page! We are a family-friendly facility. We are open weekends and after-hours to fit your busy schedule! Our state of the art facility offers the best care for you and your family!</p>
	</div>

	<div>
		<h1>
		Our hours:
		</h1>

		<p>
			Monday-Thursday: 8am-5pm
		</p>
		<p>
			Friday: 9am-4pm
		</p>
		<p>
			Saturday-Sunday: 12pm-4pm
		</p>
	</div>

	<div>
		<h1>
			Services:
		</h1>

		We offer a wide variety of services for you and your family.
			<ul>
				<li>Chiropractic care</li>
				<li>Physical therapy</li>
				<li>Cancer screenings</li>
				<li>Pediatric care</li>
				<li>Podiatry</li>
				<li>And more!</li>
			</ul>

	</div>

	<div>
		<h1>
		Location:
		</h1>

		<p>
		We are conveniently located in Boulder! Come by for all of your medical needs today!
		</p>

		<img src="/media/Boulder_Map.gif" id="officePicture" width="200px" height="169">



	</div>
	<div>
	</div>
		<div class="footer">
			<p class="name">Dr. Doctor</p>
			<p class="number">303-333-3333</p>
			<p class="number">2055 Regent Drive, Rm., Boulder, CO 80309-0020</p>
		</div>
	</body>

</html>
