<html>
	<head>
		<link href="/css/docinfo.css" type="text/css" rel="stylesheet" />
		<title>Doctor Information</title>
	</head>

	<body>
		<div class="menubar">
	  	<%- include layouts/menubar_login.ejs %>
		</div>
		<div>
			<h1>Dr.Doctor, MD </h1>
			<img style="float:center"src="/media/doctor_pic.jpg" id="DoctorPicture" width="250px" height="200">
			<h2>Specialties</h2>
			<p>Cardiovascular, Cardiology, Interventional, Internal Medicine, Pediatrics  </p>
			<h2>Medical School</h2>
			<p>Harvard Medical School</p>
			<h2>Residency</h2>
			<p>Cleveland Clinic Foundation</p>
			<h2>Hobbies</h2>
			<p>I enjoy going on scenic heights, outdoor photography, flyfishing, and extreme wrestling. I also make the spiciest memes in my free time. I am also a very big family man, with my children Tyler and Taylor.</p>
			<img style="float:center"src="/media/doctor_family.jpg" id="FamilyPicture" width="250px" height="200">
		</div>
		</div>
		<div>
		</div>
			<div class="footer">
				<p class="name">Dr. Doctor</p>
				<p class="number">303-333-3333</p>
				<p class="number">2055 Regent Drive, Rm., Boulder, CO 80309-0020</p>
			</div>
	</body>
</html>
