<html>
<head>
  <title>Stupid Browser Detected</title>
</head>
<body>
  <br><br><br><br>
  <div>
    <div style="max-width: 700px; margin: 0 auto">
      <img src="/media/angrydoctor.png" width="376px" height="625px" style="display: block; margin: 0 auto" alt="An Angry Doctor" />
      <div>
        <div>
          <h3>Sorry, we don't support Safari! Try using a browser that Apple doesn't keep under lock and key ;)</h3>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
