<html>
<head>
  <title>Login</title>
  <link href="/css/user.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="menubar">
    <%- include ../layouts/menubar_guest.ejs %>
  </div>
  <% if (messages.error) { %>
	   <p style="color:red; text-align: center;"><%- messages.error %></p>
  <% } else if (messages.success) { %>
	   <p style="color:green; text-align: center;"><%- messages.success %></p>
  <% } else { %>
    <br><br>
  <% } %>
  <div>
    <div class="panel">
      <h1 style="text-align: center">Login</h1>
      <form method="post" name="login">

        <span>
          <div class="formsection">
            <label for="username" class="label">Username</label>
            <input class="textBox" type="text" name="username" id="username">
          </div>
        </span>

        <span>
          <div class="formsection">
            <label for="password" class="label">Password</label>
            <input class="textBox" type="password" name="password" id="password">
          </div>
        </span>
        
            <br>
            <input type="submit" value="Log In">



      </form>
    </div>
  </div>
</body>
</html>
