<style>
  <%- include ../css/menubar.css %>
  .b {

  }
</style>

<div>
  <ul>
    <li><a href="/" style="float: left; padding-top: 10px; padding-left: 10px">
      <img src="/media/home.png" alt="home" style="width: 30px; height: 30px;">
    </a></li>
  </ul>
</div>
<br>