h1 {
	color: white;
	text-align:center;
}

div{
	text-align:center;
	vertical-align:middle;
}

p{
	text-align:center;
	color:white;
}

body{
	background-color: #53868B;
}

.side_bar{
	background-color: gray;
	float:left;
	width:20%;
	display:inline-block;
	height:400px;
	
}

.main{
	background-color:#B0C4DE;
	width:78%;
	float:right;
	display: inline;
	position:absolute;
	right:0;
	
}

.footer{
	position:absolute;
	bottom:-100px;
	background-color: #B0C4DE;
	width:100%;
	display:inline;
}

.number{
	font-size: 12px;
}

.name{
	font-size: 24px;
}